<%= simple_form_for(@topic, html: {class: "form-horizontal"}) do |f| %>
  <div class="form-inputs">
    <%= f.input :topic, input_html: {class:"input-block-level"}, placeholder: "Topic" %>
    <%= f.association :subject,input_html: {class:"input-block-level e1"}, label_method: :subject %>
    <%= f.input :description, input_html: {class:"input-block-level"}, placeholder: "Description Here"%>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      <span class='hidden-phone'><i class='icon-ok'></i> Create Topic
    </button>
  </div>
<% end %>