<div class="row">
	<%=render partial: "shared/start"%>
	<%=render partial: "shared/navmanage"%>
	</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1>New Topic</h1>
<hr>
<%=render partial: "form"%>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="title">Checkpoint Title</label>
		<div class="controls">
		<input type="text" id="title" placeholder="Title" class="input-xxlarge" value="" required>
		</div><!--controls-->
	</div><!--controlgroup-->
	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
		<textarea id="description" class="input-xxlarge" placeholder="Checkpoint Description" rows="5" value="" required></textarea>
		</div><!--controls-->
	</div><!--controlgroup-->
	<div class="control-group">
		<label class="control-label" for="url">YouTube URL</label>
		<div class="controls">
		<input type="url" id="url" placeholder="Paste the YouTube Share URL here" class="input-xxlarge" value="" required>
		</div><!--controls-->
	</div><!--controlgroup-->
	<hr>
	<div class="control-group">
		<label class="control-label" for="description">Question</label>
		<div class="controls">
		<textarea id="question" class="input-xxlarge" placeholder="Checkpoint Question" rows="3" value=""></textarea>
		</div><!--controls-->
	</div><!--controlgroup-->
	<div class="control-group">
		<label class="control-label" for="hint">Hint/Answer</label>
		<div class="controls">
		<textarea id="hint" class="input-xxlarge" placeholder="Answer or Hint" rows="5" value=""></textarea>
		</div><!--controls-->
	</div><!--controlgroup-->
</form>
<div class="row">
	<div class="span2 aligncenter">
		<h3 class="aligncenter"><a href="#"><span class="hidden-phone"><i class="icon-ok"></i><br/></span><small>Create</small></a></h3>
	</div><!--span2-->
	<div class="span2 aligncenter">
		<h3 class="aligncenter"><a href="#"><span class="hidden-phone"><i class="icon-save"></i><br/></span><small>Save</small></a></h3>
	</div><!--span2-->
	<div class="span2 aligncenter">
		<h3 class="aligncenter"><a href="#" class="salmon"><span class="hidden-phone"><i class="icon-undo"></i><br/></span><small>Cancel</small></a></h3>
	</div><!--span2-->
	<div class="span2 aligncenter">
		<h3 class="aligncenter"><a href="#" class="salmon"><span class="hidden-phone"><i class="icon-trash"></i><br/></span><small>Delete</small></a></h3>
	</div><!--span2-->
</div><!--row-->
</div><!--span8-->
</div><!--row-->