<footer class="container aligncenter marginbot10p">
  <hr>
    <div class="element-center">
    <ul class="nav nav-pills marginbot0">
      <%=render 'shared/pages'%>
      <li><a class="reView" href="http://openlectures.org">Switch View</a></li>
    </ul>
    </div><!--element-center-->
    <p><span class="helvetica" style="font-size:0.9em;"><strong>open</strong>lectures</span> is designed and produced in <%=link_to "a small room", pages_team_path%> on the sunny island of Singapore</p>
</footer>