<a href=<%=root_path%>>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100px" height="122px" viewBox="0 0 144 176" enable-background="new 0 0 144 176" xml:space="preserve">
<g enable-background="new">
  <path fill="#808080" d="M48.204,60.338c27.998,0,44.232,21.039,44.232,42.244s-16.234,42.244-44.232,42.244
    S3.971,123.787,3.971,102.582S20.206,60.338,48.204,60.338z M48.204,128.592c15.075,0,26.009-11.597,26.009-26.01
    s-10.934-26.01-26.009-26.01c-15.076,0-26.01,11.597-26.01,26.01S33.128,128.592,48.204,128.592z"/>
  <path fill="#808080" d="M125.898,38.635v71.733c0,9.277,1.988,12.591,7.124,15.572l9.277,5.302l-7.621,13.584
    c-17.726-8.448-26.009-14.578-26.009-31.311v-74.88H125.898z"/>
</g>
<foreignObject width="0" height="0" overflow="hidden">
<img src="<%= asset_path('logo.png')%>" width="100" height="122"&nbsp; alt="ol" />
</foreignObject>
</svg>
</a>