<div class="row">
	<div class="span2 aligncenter">
		<h3 class="aligncenter"><a href=<%=new_topic_path%>><span class="hidden-phone"><i class="icon-plus"></i><br/></span><small>New Topic</small></a></h3>
	</div><!--span2-->
	<div class="span2 aligncenter">
		<h3 class="aligncenter"><a href=<%=new_lesson_path%>><span class="hidden-phone"><i class="icon-plus"></i><br/></span><small>New Lesson</small></a></h3>
	</div><!--span2-->
</div><!--row-->