			<li><a href="#">Biology</a></li>
			<li><a href="#">Chemistry</a></li>
			<li class="active"><a href="#">Economics</a></li>
			<li><a href="#">Physics</a></li>
			<li><a href="#">Mathematics</a></li>
			<li><a href="#">Literature</a></li>
			<li><a href="#">General Paper</a></li>
			<hr>