<% if user_signed_in? %>
    <li><%= link_to(current_user.givenname+ " "+ current_user.surname, usr_profile_path)%></li>
<% else %>
    <li><%= link_to('Log In', new_user_session_path)%></li>
    <li><%= link_to('Get Started', new_registration_path(resource_name))%></li>
<% end %>
<hr>