<%- title "Welcome" %>
<div class="row">
<div class="span12 aligncenter">
<%=render 'shared/logo'%>
<h4>Free, online lectures for anyone who wants to learn</h4>
<div class="row">
<div class="span4">
<h2><%= link_to('Sign In', new_user_session_path)%></h2>
</div><!--span4-->
<div class="span4">
<h1><%= link_to('Get Started', new_user_registration_path)%></h1>
</div><!--span4-->
<div class="span4">
<h2>Subjects</h2>
</div><!--span4-->
</div><!--row-->
</div><!--span12-->
</div><!--row-->