	<div class="row">
	<div class="span1">
			<h1 class="insignia padbot20" style="font-size:7em;"><a href="index.html" class="clean">ol</a></h1>
	</div><!--span1-->
	<div class="span11 alignright">
		<h2><small><a href="start.html">lectures</a></small> About Us</h2>
	</div><!--span11-->
	<div class="span12">
		<ul class="nav nav-pills">
			<%=render partial: 'shared/navlinks'%>
			</ul>
	</div><!--span12-->
	</div><!--row-->
</div><!--container-->
<div id="timeline-embed"></div>
<script>
	$(document).ready(function() {
	    createStoryJS({
	        type:       'timeline',
	        width:      '100%',
	        height:     '600',
	        source:     'https://docs.google.com/spreadsheet/pub?key=0Ahlne8dbHhEXdGRMZlVZU3RodnVvY2pfaWFYZjR4dWc&output=html',
	        embed_id:   'timeline-embed'
	    });
	});
</script>
<%=javascript_include_tag "storyjs-embed"%>