<%= simple_form_for(@subject, html: {class: "form-horizontal"}) do |f| %>
  <div class="form-inputs">
    <%= f.input :subject, input_html: {class:"input-block-level"}, placeholder: "Subject" %>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      <span class='hidden-phone'><i class='icon-ok'></i> Create Subject
    </button>
  </div>
<% end %>
