	<div class="row">
		<%=render partial: "shared/start"%>
		<%=render partial: "shared/navsubjects"%>
		   </ul>
  </nav><!--span3-->
	<div class="span8 offset1">
	<h1><%=@subject.subject%></h1>
	<ul class="nav nav-pills" id="myTab">
		<li class="active"><a href="#seab" data-toggle="tab">SEAB Syllabus</a></li>
		<li><a href="#all" data-toggle="tab">Browse All</a></li>
	</ul>
	<div class="tab-content">
	<div class="tab-pane active fade in" id="seab">
		<h3>Market System</h3>
		<h6><small>The emphasis of this section is on government objectives and policies relating to economic growth, employment, stability of prices and the balance of payments.  It emphasises the use of the AD-AS approach as a tool for the analysis of fiscal, monetary and supply-side policies, and their impact at the micro and macro levels.</small></h6>
		<ol>
			<li>Scarcity, Choice and Opportunity Cost</li>
			<li>Resource Allocation in Competitive Markets</li>
			<ul class="unstyled">
				<li><a href="pd.html">Price Discrimination</a></li>
			</ul>
			<li>Firms and How They Operate</li>
		</ol>
		<hr>
		<h3>Market Failure and Government Intervention</h3>
		<h6><small>This theme examines the nature of market failure, its causes and possible policy remedies.</small></h6>
		<ol>
			<li>Market Failure</li>
			<li>Government Intervention in the Market</li>
		</ol>
		<hr>
		<h3>National and International Economy</h3>
		<h6><small>This theme provides an introduction to the key indicators of economic performance, the basic AD/AS and AE-Income analysis, and  the main objectives and instruments of government policy.</small></h6>
		<ol>
			<li>Key Economic Indicators</li>
			<li>How The Macroeconomy Works</li>
			<li>International Economics</li>
		</ol>
	</div><!--tabpane-->
	<div class="tab-pane fade" id="all">
		<div class="row-fluid">
		<div class="span8">
		<ul class="unstyled list">
			<li>You Demand</li>
			<li>I Supply</li>
			<li>Shifts</li>
			<li>The Market</li>
			<li>Introduction to Elasticity</li>
			<li>Price Elasticity</li>
			<li>Income Elasticity</li>
			<li>Market Structure</li>
			<li>Perfectly Competitive Firms</li>
			<li>Monopolies</li>
			<li>Oligopolies</li>
			<li>Additional Concepts</li>
			<li>Evaluations</li>
			<li>Market Failure</li>
			<li>Introduction to Monetary Policy</li>
			<li>Interest Rates</li>
			<li>Demand and Supply of Money</li>
			<li>Review of Interest Rate and Macroeconomic Goals</li>
			<li>How Monetary Policy Affects Economic Growth</li>
			<li>How Monetary Policy Affects Unemployment</li>
			<li>How Monetary Policy Affects Inflation</li>
			<li>How Monetary Policy Affects External Stability</li>
			<li>Evaluation 1 – Sentiments</li>
			<li>Evaluation 2 – Liquidity Trap</li>
			<li>Evaluation 3 – Transmission</li>
			<li>Evaluation 4 – Specificity</li>
			<li>Other Evaluations</li>
			<li>Singapore?</li>
			<li>Impossible Trinity</li>
			<li>Controlling Money Supply</li>
			<li>Bond Yields and Interest Rates</li>
			<li>Introduction to Price Discrimination</li>
			<li>First Degree Price Discrimination</li>
			<li>Second Degree Price Discrimination</li>
			<li>Third Degree Price Discrimination</li>
			<li>Applications of Price Discrimination</li>
		</ul><!--unstyled-->
	</div><!--span8-->
	<div class="span3 offset1 aligncenter hidden-phone">
		<h1>36</h1>
		<p>lessons</p>
		<hr>
		<h1>184</h1>
		<p>checkpoints</p>
	</div><!--span3-->
	</div><!--row-fluid-->
	</div><!--tabpane-->
	</div><!--tabcontent-->
	</div><!--span8-->
</div><!--row-->