<div class="row">
	<%=render partial: "shared/start"%>
	<%=render partial: "shared/navmanage"%>
	</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1>New Lesson</h1>
<hr>
<%=render partial: "form"%>
</div><!--span8-->
</div><!--row-->