@font-face {
    font-family: 'miso';
    src: font-url('miso-regular-webfont.eot');
    src: font-url('miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('miso-regular-webfont.woff') format('woff'),
         font-url('miso-regular-webfont.ttf') format('truetype'),
         font-url('miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'miso';
    src: font-url('miso-bold-webfont.eot');
    src: font-url('miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('miso-bold-webfont.woff') format('woff'),
         font-url('miso-bold-webfont.ttf') format('truetype'),
         font-url('miso-bold-webfont.svg#misobold') format('svg');
    font-weight: bold;   
    font-style: normal;
}
@font-face {
    font-family: 'miso';
    src: font-url('miso-light-webfont.eot');
    src: font-url('miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('miso-light-webfont.woff') format('woff'),
         font-url('miso-light-webfont.ttf') format('truetype'),
         font-url('miso-light-webfont.svg#misolight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'insignia';
    src: font-url('insignia-webfont.eot');
    src: font-url('insignia-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('insignia-webfont.woff') format('woff'),
         font-url('insignia-webfont.ttf') format('truetype'),
         font-url('insignia-webfont.svg#InsigniaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontawesome';
    src: font-url('fontawesome-webfont.eot');
    src: font-url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fontawesome-webfont.woff') format('woff'),
         font-url('fontawesome-webfont.ttf') format('truetype'),
         font-url('fontawesome-webfont.svg#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BDCartoonShoutRegular';
     src: font-url('BD_Cartoon_Shout-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.insignia {
    font-family: "insignia";
    display: inline-block;
    text-decoration: inherit;
}
.miso {
    font-family: "miso";
    display: inline-block;
    text-decoration: inherit;
}
.helvetica {
    font-family: "Helvetica Neue", "Helvetica";
    display: inline-block;
    text-decoration: inherit;
}